<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/primitive-ui/dist/css/main.css"
    />
</head>
<body>
    <h1>Login yoself</h1>

<form action="/login" method="POST">
    <fieldset>
        <legend>Entering super cool app!</legend>
        <% if (error !== '') {%>
            <h3>Pogreška: <%-error%></h3>
        <% } %>

        <div>
            <label for="email">Email: </label>
            <input type="email" name="email" id="email">
        </div>
        <div>
            <label for="password">Password: </label>
            <input type="password" name="password" id="password">
        </div>
    </fieldset>
    <input type="submit" value="Predaj podatke!">
    <br>
    <p>Do you have an acc? <a href="/register">Register</a></p>
</form>
</body>
</html>